<div class="example-container container mt-5">

    <form>
        <h3>Datos Generales de la Empresa</h3>
        <div class="form-group row"> 
          <label for="exampleFormControlInput1" class="col-form-label col-sm-2">Nombre Empresa</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Empresa">
          </div>
        </div>
        <div class="form-group row"> 
          <label for="exampleFormControlInput1" class="col-form-label col-sm-2">Ubicacion</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ubicacion">
          </div>
        </div>
        <div class="form-group row"> 
          <label for="exampleFormControlInput1" class="col-form-label col-sm-2">Nombre del Dueño</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre del Dueño">
          </div>
        </div>
        <div class="form-group row"> 
          <label for="exampleFormControlInput1" class="col-form-label col-sm-2">Celular</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Celular">
          </div>
        </div>
        <div class="form-group row"> 
          <label for="exampleFormControlInput1" class="col-form-label col-sm-2">Telefono</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Telefono">
          </div>
        </div>
        <div class="form-group row"> 
          <label for="exampleFormControlInput1" class="col-form-label col-sm-2">Numero de Locales</label>
          <div class="col-sm-6">
              <div class="form-group">
                <select class="form-control" name="" id="">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
          </div>
        </div>
        <div class="form-group row"> 
            <label for="exampleFormControlInput1" class="col-form-label col-sm-2">Descripcion Empresa</label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Maximo 100 caracteres" name="descripcion" id="descripcion" rows="3"></textarea>
            </div>   
        </div>

        <div class="form-group row"> 
            <label for="" class="col-form-label col-sm-2">Escoja imagen</label>
            <div class="custom-file col-sm-6">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
        </div>
        <div class="form-group row"> 
            <label for="exampleFormControlInput1" class="col-form-label col-sm-2">Ruc</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ruc">
            </div>
          </div>
          <div class="form-group row"> 
            <label for="exampleFormControlInput1" class="col-form-label col-sm-2">Categoria de Empresa</label>
            <div class="col-sm-6">
                <div class="form-group">
                  <select class="form-control" name="" id="">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
            </div>
          </div> 
          <div class="form-group row"> 
            <label for="exampleFormControlInput1" class="col-form-label col-sm-2">Subcategoria</label>
            <div class="col-sm-6">
                <div class="form-group">
                  <select class="form-control" name="" id="">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
            </div>
          </div> 
        
        
      </form>
    
</div>
  